@model DepartmentPosition;

<div class="modal fade" id="createModal" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="createModalLabel">Thêm phòng ban</h3>
            </div>
            <div class="modal-body">
                <div id="createMessage" class="mt-3"></div>
                <form id="createForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Code" class="control-label">Mã phòng ban</label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Tên phòng ban</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
@*                     <div class="form-group">
                        <label asp-for="CreateBy" class="control-label">Người tạo</label>
                        <input asp-for="CreateBy" class="form-control" />
                        <span asp-validation-for="CreateBy" class="text-danger"></span>
                    </div> *@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnCreate">Tạo</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnCreate').click(function() {
        var departementData = {
            Type: "Phòng ban",
            Code: $('#Code').val(),
            Name: $('#Name').val(),
        }

        $.ajax({
            url: '/DepartPosit/Create',
            type: 'POST',
            data: departementData,
            success: function(res) {
                if(res.success) {
                    toastr.success(res.message);
                    $('#createModal').modal('hide');
                    location.reload();
                }
                else {
                    $('#createMessage').html('<div class="alert alert-danger">' + res.message + '</div>');
                }
            },
            error: function(res) {
                $('#createMessage').html('<div class="alert alert-danger">' + 'Đã xảy ra lỗi' + '</div>');
                console.log(res);
            }
        })
    })
</script>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}